@import "./Question.scss";
@import "./Results.scss";
@import "./Base.scss";

#root {
  height: 100%;
}

.App {
  text-align: left;
  overflow: scroll;
  height: 100%;
  background: url("../src/assets/background.png");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  display: grid;
  align-items: center;
  padding: 30px;

  h1 {
    max-width: 464px;
    margin: 0px auto;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 54px;
    margin-bottom: 10px;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-card {

  h2 {
    text-align: center;
    color: #1d355d;
    font-size: 24px;
    line-height: 1.5;
    margin: 60px auto;
  }

  .start-btn {
    background-color: #f9a826;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    padding: 15px 35px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: block;
    margin: 0px auto;
  }
}


@media(max-width: 1224px){
  .App{
    h1 {
      font: $font-med;
    }
  }


.home-card {

  h2 {
    font: $font-small;
    margin: 30px auto;
    font-weight: 700;

  }

  .start-btn {
    font: $font-Xsmall;
    padding: 10px 30px;
    font-weight: 700;
  }
}

}
