@import "./Base.scss";

.card-container {
  max-width: 464px;
  // min-height: 559px;
  border-radius: 24px;
  background-color: white;
  margin: 0px auto;
  padding: 32px;
  box-sizing: border-box;
  position: relative;

  .card-container__inner {
      text-align: right;
  }

  div, ul {
    text-align: left;
  }

  .card-img {
    position: absolute;
    top: -74px;
    right: 0px;
  }

  .flag-img {
    max-width: 84px;
    box-shadow: (0px 4px 24px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
    margin-top: 40px;
  }

  .question {
    color: $navy-blue;
    font: $font-med;
    align-self: start;
    margin: 30px 0px;
  }

  .nxt-btn {
      background-color: #F9A826;
      color: white;
      border-radius: $reg-border-radius;
      border: none;
      font: $font-small;
      padding: 15px 35px;
      font-weight: 700;
  }
}

.answer-choice {
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: $reg-border-radius;
  padding: 10px 20px;
  list-style-type: none;
  margin-bottom: 30px;
  color: rgba(96, 102, 208, 0.8);
  font: $font-small;
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  align-items: center;

  &:hover {
    background-color: #f9a826;
    border: 2px solid #f9a826;
    color: white;
  }

  .label {
    font: $font-med;
    font-weight: 600;
  }

  i {
    justify-self: end;
  }
}

.correct {
  background-color: #60bf88;
  border: 2px solid #60bf88;
  color: white;
}

.incorrect {
  background-color: #ea8282;
  border: 2px solid #ea8282;
  color: white;
}

@media(max-width: 1224px) {

  .card-container {
    padding: 20px;

    .question {
      font: $font-small;
      font-weight: 700;
      margin: 20px 0px;
    }

    .card-img {
      max-width: 130px;
      top: -70px;
    }

    .nxt-btn {
      font: $font-Xsmall;
      font-weight: 700;
      padding: 10px 30px;
    }
  }

  .answer-choice {
    padding: 7px 20px;
    margin-bottom: 20px;
    font: $font-Xsmall;
    grid-template-columns: 30px 1fr 30px;
  
    .label {
      font: $font-small;
    }

    i {
      font-size: 20px;
    }
  
  }
  
}
