@import "./Base.scss";

.card-container {
    .results-card {
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        margin-top: 17px;

        h2 {
            font-size: 48px;
            line-height: 72px;
            margin-top: 72px;
            margin-bottom: 12px;
            color: #1D355D;
        }

        p {
            color: #1D355D;
        }

        .correct-count {
            font-size: 48px;
            font-weight: 700;
            color: #60bf88;
        }

        button {
            border: 2px solid #1D355D;
            border-radius: 12px;
            padding: 18px 61px;
            margin-top: 89px;
            background-color: white;
            font-size: 18px;
            line-height: 27px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: #1D355D;
        }


    }
}

@media (max-width: 1224px) {

    .card-container {
        font: $font-Xsmall;

        .results-card {
            h2 {
                font: $font-lg;
                margin-top: 30px;
            }

            .correct-count {
                font: $font-lg;
            }

            button {
                font: $font-Xsmall;
                font-weight: 700;
                padding: 10px 30px;
                margin-top: 50px;
              }
        }
    }

}